<%-include('../layouts/header');-%>

<main class="container">
    <h4>Index View</h4>

    <section>
        <% if (produtos.length > 0) { %>

        <% produtos.forEach(prods => { %>
        <article class="card" style="width: 18rem;">
            <img src="<%= prods.imageURL %> " class="card-img-top" alt="<%= prods.title %> ">
            <div class="card-body">
                <h5 class="card-title"><%= prods.title %> </h5>
                <h5 class="card-title">$ <%= prods.price %> </h5>
                <p class="card-text"><%= prods.description %></p>
                </p>

                <!-- botoes de acao -->
                <a href="/products/<%= prods.id %> " class="form-group btn btn-info">Details</a>

                <!-- post add ejs -->
                <%- include('../layouts/add-to-cart.ejs'); -%> 


            </div>
        </article>
        <% }) %>

        <% } else { %>
        <h4>No books found</h4>
        <% } %>

</main>
</section>

</main>

<%-include('../layouts/footer');-%>