<%- include("../layouts/header"); -%>

<main class="container centered">

    <h1>PRODUCT DETAIL VIEW</h1>

    <!-- detalhe do produto -->
    <hr>
    <h4><%= prods.title %> </h4>
    <hr>

    <div>
        <img src="<%= prods.imageURL %> " alt="<%= prods.title %> " width="50%">
    </div>

    <h4>$ <%= prods.price %> </h4>

    <p><%= prods.description %> </p>

    <!-- post add ejs -->
    <%- include('../layouts/add-to-cart.ejs', {produtos: prods}); -%>



</main>

<%- include("../layouts/footer"); -%>