<%- include("../layouts/header"); -%>

<main class="container">

    <h2>Admin Products View</h2>

    <% if (produtos.length > 0) { %>

    <% produtos.forEach(prods => { %>
    <div class="card" style="width: 18rem;">
        <img src="<%= prods.imageURL %> " class="card-img-top" alt="<%= prods.title %> ">
        <div class="card-body">
            <h5 class="card-title"><%= prods.title %> </h5>
            <h5 class="card-title">$ <%= prods.price %> </h5>
            <p class="card-text"><%= prods.description %></p>
            </p>
            <!-- botoes de acao -->
            <a href="/admin/edit-product" class="form-group form-control btn btn-warning">Edit</a>

            <form action="/admin/delete-product" method="POST">
                <button type="submit" class="form-group form-control btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <% }) %>

    <% } else { %>
    <h4>No books found</h4>
    <% } %>

</main>

<%- include("../layouts/footer"); -%>